@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@font-face {
  font-family: IBM;
  src: url("./fonts/IBMPlexSansArabic-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: IBM;
  src: url("./fonts/IBMPlexSansArabic-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: IBM;
  src: url("./fonts/IBMPlexSansArabic-SemiBold.ttf");
  font-weight: 600;
}

* {
  transition: 0.3s ease;
}
body {
  font-family: IBM, sans-serif;
  overflow-x: hidden;
}

.card {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border: 0.2px solid rgba(128, 128, 128, 0.124);
}

.add-form label {
  color: #3f4944;
  display: block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 6px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}
.add-form input,
.add-form textarea {
  background-color: #f8f9ff;
  border: 1.5px solid #bec9c264;
  border-radius: 4px;
  padding: 12px;
  text-indent: 6px;
  width: 100%;
}

.add-form input:focus {
  outline: none;
  border-color: #c3cac5;
}

table tr {
  display: grid;
  grid-template-columns: 1fr repeat(4, 1fr) 1fr;
  justify-items: start;
}

table tr td {
  justify-self: start;
}
